section.news-page.clearfix
	.container
		h1.page-title Tin tức nổi bật
		.news-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								.news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
		h1.page-title Thỏa thuận sử dụng
		.news-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								.news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
		h1.page-title Kiến thức mua hàng
		.news-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								.news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
		h1.page-title Review sản phẩm
		.news-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								.news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
		h1.page-title Tin thị trường
		.news-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								.news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017
								//- .news-des Dành cho các dòng đồng hồ thông minh Android Wear 2.0 lẫn phiên bản trước đó...
				.col-xs-6
					article.news-col.clearfix
						figure.clearfix
							a.news-img(href="#")
								amp-img(src="img/news/1.jpg" width='1080' height='607' layout='responsive' alt="")
							figcaption
								h2.news-name
									a(href="#") [Android Wear] - Chuyển nhạc vào đồng hồ và kết nối với tai nghe Bluetooth
								time 27/07/2017