header
	.container
		.btn-showmenu.ampstart-btn.caps.m2(on='tap:sidebar.open') <i class="fa fa-bars" aria-hidden="true"></i>
		.sitelogo
			a(href="index.html")
				amp-img(src="img/logo2.png", width="140", height="30", layout="", alt="")
	a.viewsite(href="http://techzones.vn") Xem trang đầy đủ
amp-sidebar#sidebar.menu(layout='nodisplay', side='left')
	.btn-closemenu.ampstart-btn.caps.m2(on='tap:sidebar.close') ✕
	.menulogo
		amp-img(src="img/logo2.png", width="214", height="46", layout="", alt="")
	ul.menu-link.clearfix
		li.hassub.active
			amp-accordion
				section
					.sub-title Thiết bị đeo tay
					.sub
						ul
							li
								a(href="#") Vòng đeo tay
							li
								a(href="#") Smartwatch
		li.hassub
			amp-accordion
				section
					.sub-title Home Theater
					.sub
						ul
							li
								a(href="#") Thiết bị kết nối TV
							li
								a(href="#") Home network
							li
								a(href="#") Máy chiếu
							li
								a(href="#") Loa
		li.hassub
			amp-accordion
				section
					.sub-title Âm thanh
					.sub
						ul
							li
								a(href="#") Tai nghe
							li
								a(href="#") Loa
							li
								a(href="#") Máy nghe nhạc
							li
								a(href="#") DAC/AMP
							li
								a(href="#") Bluetooth Receiver
		li.hassub
			amp-accordion
				section
					.sub-title Máy tính
					.sub
						ul
							li
								a(href="#") Màn hình
							li
								a(href="#") Gaming Laptop
							li
								a(href="#") Linh kiện
							li
								a(href="#") Thiết bị lưu trữ
							li
								a(href="#") Máy đọc sách
		li.hassub
			amp-accordion
				section
					.sub-title Gaming Gear
					.sub
						ul
							li
								a(href="#") Bàn phím cơ
							li
								a(href="#") Gaming Mouse
							li
								a(href="#") Gaming headset
							li
								a(href="#") Miếng lót chuột
							li
								a(href="#") Ghế Gaming
							li
								a(href="#") Máy chơi game
							li
								a(href="#") Gamepad
		li.hassub
			amp-accordion
				section
					.sub-title Camera
					.sub
						ul
							li
								a(href="#") Máy quay thể thao
							li
								a(href="#") Camera 360 độ
							li
								a(href="#") Gimbal
							li
								a(href="#") Drone
		li.hassub
			amp-accordion
				section
					.sub-title Phụ kiện
					.sub
						ul
							li
								a(href="#") Máy quay thể thao
							li
								a(href="#") Camera 360 độ
							li
								a(href="#") Gimbal
							li
								a(href="#") Drone
		li.hassub
			amp-accordion
				section
					.sub-title Hàng 2nd
					.sub
						ul
							li
								a(href="#") Máy quay thể thao
							li
								a(href="#") Camera 360 độ
							li
								a(href="#") Gimbal
							li
								a(href="#") Drone
		li
			a(href="#") Tin tức
		li
			a(href="#") Thương hiệu
	//- .social.clearfix
		a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
		a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
		a(href="#") <i class="fa fa-linkedin" aria-hidden="true"></i>
		a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>